.list-container {
  width: fit-content;
}
.cat_name {
  font-size: 15px;
  font-weight: 700;
}
.subcats li {
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.subcats li:hover {
  color: blue;
}
