.categories {
  display: flex;

  justify-content: center;
  width: 100%;
  background-color: #3a64b3;
}
.categories .item {
  color: white;
  cursor: pointer;
  padding: 10px 50px;
}
.categories .item:hover {
  color: rgb(1, 1, 58);
}
#subcategories {
  display: none;
}

#subcategories:hover {
  display: block;
}
