.models {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.orders-container {
  width: 100%;
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0;
  right: 0;
}
.section-head {
  width: 100%;
  background-color: #0750b1;
  display: flex;
  color: #fff;
  /* border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; */
  justify-content: start;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 20px;
}
